@import "../../common.scss";

.wrapper {
  position: relative;
  width: $cardDimension;
  height: $cardDimension;

  .deck {
    width: 100%;
    height: 100%;
    max-height: $cardDimension;

    .card,
    .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .back {
      @include backCard();
      border-radius: 10px;
    }
  }

  @media all and (max-height: 700px) {
    width: $cardLoResDimension;
    height: $cardLoResDimension;
  }

  @media all and (max-height: $loLoResHeightBreak) {
    width: $cardLoLoResDimension;
    height: $cardLoLoResDimension;
  }

  @media all and (max-height: $loLoLoResHeightBreak) {
    width: $cardLoLoLoResDimension;
    height: $cardLoLoLoResDimension;
  }
}
