@import '../../common.scss';

.headerContainer {
  width: 100%;
  height: 100%;
  background-color: $stripColor;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-height: $loLoResHeightBreak) {
    padding-top: 10px;
  }
}

