@import "../../common.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: $maxWidth;
  min-width: $minWidth;
  width: 100%;
  
  .stage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    height: 100%;

    .header, .footer {
      position: relative;
      z-index: 0;
      width: 100%;
    }

    .header {
      height: $headerHeight;
    }

    .footer {
      height: $footerHeight;
    }

    .content {
      position: relative;
      z-index: 1;
      width: 100%;
      flex: 1;
    }
  }

  .strip {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $stripColor;
    height: $headerHeight;

    &.footer {
      top: unset;
      bottom: 0;
      height: $footerHeight;
    }
  }

  @media all and (max-height: $heightBreak) {
    .stage {
      .header {
        height: $headerLoResHeight;
      }
    }
  
    .strip:not(.footer) {
      height: $headerLoResHeight;
    }
  }
}
