@import "../../common.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: $bgColor;
  position: relative;
  
  &.intro, &.won {
    background-color: $bgColorIntro;
  }
  
  .stage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: $maxWidth;
    min-width: $minWidth;

    .header, .footer {
      position: relative;
      z-index: 0;
      width: 100%;
    }

    .header {
      height: $headerHeight;
    }

    .footer {
      height: $footerHeight;
    }

    .content {
      position: relative;
      z-index: 1;
      width: 100%;
      flex: 1;
    }
  }

  .strip {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $stripColor;
    height: $headerHeight;

    &.footer {
      top: unset;
      bottom: 0;
      height: $footerHeight;
    }
  }

  @media (max-height: $heightBreak) {
    .stage {
      .header {
        height: $headerLoResHeight;
      }
    }
  
    .strip:not(.footer) {
      height: $headerLoResHeight;
    }
  }

  @media (max-height: $loLoResHeightBreak) {
    .stage {
      .header {
        height: $headerLoLoResHeight;
      }

      .footer {
        height: $footerLoResHeight;
      }
    }

    .strip:not(.footer) {
      height: $headerLoLoResHeight;
    }
  
    .strip.footer {
      height: $footerLoResHeight;
    }
  }

  @media (max-height: $loLoLoResHeightBreak) {
    .stage {
      .header {
        height: $headerLoLoLoResHeight;
      }

      .footer {
        height: $footerLoResHeight;
      }
    }

    .strip:not(.footer) {
      height: $headerLoLoLoResHeight;
    }
  
    .strip.footer {
      height: $footerLoResHeight;
    }
  }
}
