@import '../../common.scss';

.footer {
  width: 100%;
  height: $footerHeight;
  max-height: 100px;
  background-color: $stripColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px 20px;

  .year, .yearsInPower {
    font-size: 24px;
    color: $meterFgColor;
  }

  .year {
    text-align: left;
  }

  .yearsInPower {
    text-align: right;
  }

  @media (max-width: $loLoResHeightBreak) { 
    padding: 0 20px 10px;
    align-items: center;

    .year, .yearsInPower {
      font-size: 12px;
    }
  }
}

