@import "../../common.scss";

.wrapper {
    height: 45px;
    width: 45px;
    position: relative;
    background-color: $meterBgColor;

    .bg {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: $meterFgColor;
        transition: all .6s ease;

        &.grow {
            background-color: green;
        }

        &.shrink {
            background-color: red;
        }
    }

    .icon {
        position: relative;
        z-index: 2;
    }

    .ball {
        position: absolute;
        display: block;
        top: -100px;
        left: 50%;
        border-radius: 50%;
        background-color: $meterBgColor;
        transition: all .2s ease-in-out;

        &.smallBall {
            width: 6px;
            height: 6px;
            margin-left: -3px;

            &.show {
                top: -16px;
            }
        }

        &.bigBall {
            width: 8px;
            height: 8px;
            margin-left: -4px;

            &.show {
                top: -18px;
            }
        }
    }
}