@import "../../common.scss";

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 20px;

  .description,
  .name {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .description {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media all and (min-width: 540px) {
    .name {
      height: 80px;
    }
  }

  @media all and (max-height: 800px) {
    .description,
    .name {
      padding: 6px 0;
    }

    .name {
      height: 50px;
    }
  }
}
