$headerHeight: 148px;
$headerLoResHeight: 100px;
$headerLoLoResHeight: 80px;
$footerHeight: 70px;
$footerLoResHeight: 45px;
$maxWidth: 540px;
$minWidth: 320px;
$cardDimension: 352px;
$cardLoResDimension: 280px;
$cardLoLoResDimension: 220px;

$heightBreak: 770px;
$loLoResHeightBreak: 580px;
$tinyScreenBreakpoint: 399px;

$bgColor: #0071bc;
$bgColorIntro: #29abe2;
$stripColor: #10212b;
$meterBgColor: #5783a0;
$meterFgColor: white;
// $meterFgColor: rgb(245, 243, 179);

@mixin backCard() {
    background-image: url("../../assets/cards/game_cardBack.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #1c59b5;
    border: 10px solid #75cff2;
}

:export {
    bgColor: $bgColor;
    bgColorIntro: $bgColorIntro;
    stripColor: $stripColor;
    meterBgColor: $meterBgColor;
    meterFgColor: $meterFgColor;
}