$headerHeight: 148px;
$footerHeight: 104px;
$maxWidth: 540px;
$minWidth: 375px;
$cardDimension: 352px;

$bgColor: rgb(175, 153, 85);
$stripColor: #23160D;
$meterBgColor: rgb(120, 104, 61);
$meterFgColor: rgb(245, 243, 179);